body{
    margin: 0;
    background-color: #121f3d;
}
#CabeceraContainer {
    background-color: #121f3d;
    width: 100%;
    height: 50px;
    display: flex;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 25%)
}
#CabeceraContainer img{
    object-fit: contain;
    height: 85%;
}
#CuerpoContainer {
    margin: 0% 6%;
}
#MensajeContainer {
    font-family: Roboto,sans-serif;
    color: #eff3f8;
    text-shadow: 1px 1px 2px black, 0 0 1em #98ca3f, 0 0 0.2em #98ca3f;
}

#ContenidoContainer {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: row;
}
#ImagenContainer {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    margin: 3%;
}
#ImagenContainer img{
    object-fit: contain;
    height: 100%;
}
#InfoContainer {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 60%;
    margin: 1% 3%;
}
#SelectTitle {
    font-family: Roboto,sans-serif;
    color: #eff3f8; 
    font-size: 20px;
    opacity: 60%;
}
#PlanesContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
article {
    position: relative;
    margin: 15px 0px;
    width: 30%;
    height: 150px;
    border: 0.5px solid #24385b;
    box-sizing: border-box;
    border-radius: 10px;
}
article div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 25px;
    border-radius: 10px;
    background-color: transparent;
}
article input {
    position: absolute;
    margin: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}
input[type=checkbox]:checked ~ div {
    background-color: #98ca3f;
}
.Plan {
    color: #eff3f8;
    font-size: 20px;
    font-weight: bold;
    font-family: Roboto,sans-serif;
}
.Precio {
    color: #eff3f8;
    font-size: 20px;
    font-family: Roboto,sans-serif;
    opacity: 60%;
}
input[type=checkbox]:checked ~ div span {
    color: #03091e;
}

article span {
    color: #eff3f8;
    font-size: 20px;
    font-weight: bold;
    font-family: Roboto,sans-serif;
}
#CuponContainer {
    display: flex;
    flex-direction: row;
    margin: 15px 0px;
    justify-content: flex-end;
    align-items: center;
}
#validaCupon{
    margin: 0px 20px 0px 0px;
    color: #eff3f8;
    font-family: Roboto,sans-serif;
}
#LabelCupon{
    color: #eff3f8;
    font-family: Roboto,sans-serif;
    opacity: 60%;
}
#InputCupon {
    margin-left: 15px;
    padding: 1%;
    font-size: 18px;
    text-align: center;
    font-family: Roboto,sans-serif;
    background-color: #03091e;
    border-color: transparent;
    border-radius: 8px;
    color: #eff3f8;
}
#PrecioFinal {
    display: flex;
    flex-direction: row; 
    margin: 15px 0px;
    justify-content: flex-end;
    color: #eff3f8;
    font-family: Roboto,sans-serif;
    font-size: 20px;
}
#ButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
form {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}
#ComprarButton {
    width: 50%;
    height: 65%;
    margin: 3% 0%;
    font-size: 18px;
    border-radius: 15px;
    border-color: transparent;
    background-color: #98ca3f ;
    color: #03091e;
    font-weight: bold;
    cursor: pointer;
}